body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
.orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom:150px;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width:80%;
}
.button1{
    text-decoration: none;
    background-image: linear-gradient(black,red);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dreambig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}